{%extends 'driver_base.html'%}
<!--  -->
{%load static%}
<!--  -->
{%block main_content%}
<!-- start -->
<style>
    .progress-tittle {
        color: #00ce7c !important;
    }
    
    li {
        list-style-type: none;
        padding-top: 10px;
    }
    
    #amount {
        font-weight: 600;
        font-size: larger;
    }
    
    #status {
        padding-left: 20px;
    }
    
    @media (max-width: 600px) {
        .p-ab {
            display: block !important;
        }
    }
</style>
<section class="w3l-about1 py-5" id="intro">
    <div class="new-block top-bottom py-md-4">
        <div class="container">
            <div class="title-content text-center">
                <h6 class="sub-title">Profile</h6>
                <h3 class="hny-title"><span>{{user.first_name | title}}</span> {{user.last_name | title}} (Driver)</h3>
            </div>
            <div class="row mt-lg-5 mt- align-items-center">
                <div class="col-lg-4 middle-section text-left">
                    <div class="section-width mb-lg-4">
                        <h3 class="hny-title">Duty Status.</h3>
                        {%if status == True%}
                        <!--  -->
                        <ul>
                            <li><span>Driver is now on duty</span></li>
                        </ul>
                        {%else%}
                        <ul>
                            <li><span>Driver is now Free</span></li>
                        </ul>
                        <!--  -->
                        {%endif%}
                        <!--  -->
                        {%for i in bill%}
                        <ul>
                            <li>{{i.patient.full_name}} Have To Pay:<span>{{i.bill}}</span></li>
                        </ul>
                        {%endfor%}
                        <!--  -->
                    </div>
                </div>
                <div class="col-lg-4 left-section my-lg-0 my-4 pr-lg-4">
                    <div class="progress-abodehny-inf">
                        <div class="progress-info">
                            <h6 class="progress-tittle">Email</h6>
                            <span>{{user.email}}</span>
                        </div>
                        <div class="progress-info">
                            <h6 class="progress-tittle">Address
                            </h6>
                            <span>{{driver.address}}</span>
                        </div>
                        <div class="progress-info">
                            <h6 class="progress-tittle">Age</h6>
                            <span>{{driver.age}}</span>
                        </div>
                        <div class="progress-info">
                            <h6 class="progress-tittle">Phone No</h6>
                            <span>{{driver.phone_no}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 right-section">
                    <h3 class="hny-title">Hospital Route / Patient</h3>
                    <br>
                    <!--  -->
                    {%for i in router%}
                    <p class="p-ab">Hospital:{{i.hospital_name}}</p>
                    <br>
                    <p class="p-ab">Patient Name: {{i.patient.full_name}}</p>
                    {%empty%}
                    <p class="p-ab">No Medicine Needed</p>
                    {%endfor%}
                    <!--  -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end -->
{%endblock main_content%}