{%extends 'patient_base.html'%}
<!-- extended -->
{%load static%}
<!-- static loaded -->

{%block main_content%}
<!-- start -->
<style>
    .mb-4 {
        text-align: center !important;
    }
    
    .welcome-grids .col-lg-12 .mb-4 {
        text-align: center;
    }
</style>
<section class="w3l-wecome-content-6">
    <!-- /content-6-section -->
    <div class="ab-content-6-mian py-5">
        <div class="container py-lg-3">
            <div class="title-head text-left mb-4">
                <h6 class="sub-title text-center">About Digital Sheba</h6>
                <h3 class="hny-title text-center">
                    The Best <span>Health Care System</span> </h3>
            </div>
            <div class="welcome-grids row">

                <div class="col-lg-12">
                    <p class="mb-4">“Digital Sheba” is a web-based & Mobile Based app that is focused on the patient who Admitted to the hospital. It will be able to schedule the time of taking medicine and getting those equipment according to the patients need. This
                        app focuses on giving the best service of caring from the nurses and alarming it to the patient who is admitted to the hospital.
                    </p>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- //content-6-section -->
<!-- /featured-services-->
<section class="w3l-features-4" id="services">
    <div class="features4-block py-5">
        <div class="container py-lg-3">
            <div class="title-head text-center mb-lg-5 mb-4">
                <h6 class="sub-title">Service</h6>
                <h3 class="hny-title">
                    Our <span>Services</span> </h3>
            </div>
            <div class="features4-grids text-left row">
                <div class="features4-grid">
                    <div class="features4-grid-inn">
                        <div class="icon-fea4">
                            <span class="fa fa-plus-circle" aria-hidden="true"></span>
                        </div>
                        <h5><a href="{%url 'medicine'%}">Medicines</a></h5>
                        <p>Lorem ipsum viverra <span class="p-ab">feugiat. Pellen tesque libero ut justo,
									ultrices in ligula. Semper at tempufddfel.</span> </p>
                        <div class="read-arrow text-right mt-md-4 mt-3">
                            <a href="{%url 'medicine'%}"><span class="fa fa-arrow-right"
											aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="features4-grid">
                    <div class="features4-grid-inn">
                        <div class="icon-fea4">
                            <span class="fa fa-quote-right " aria-hidden="true"></span>
                        </div>
                        <h5><a href="{%url 'emg_msg'%}">Emergency</a></h5>
                        <p>Lorem ipsum viverra <span class="p-ab">feugiat. Pellen tesque libero ut justo,
									ultrices in ligula. Semper at tempufddfel.</span> </p>
                        <div class="read-arrow text-right mt-md-4 mt-3">
                            <a href="{%url 'emg_msg'%}"><span class="fa fa-arrow-right"
											aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="features4-grid">
                    <div class="features4-grid-inn">
                        <div class="icon-fea4">
                            <span class="fa fa-paper-plane" aria-hidden="true"></span>
                        </div>
                        <h5><a href="{%url 'patfeedback'%}">Feedbacks</a></h5>
                        <p>Lorem ipsum viverra <span class="p-ab">feugiat. Pellen tesque libero ut justo,
									ultrices in ligula. Semper at tempufddfel.</span> </p>
                        <div class="read-arrow text-right mt-md-4 mt-3">
                            <a href="{%url 'patfeedback'%}"><span class="fa fa-arrow-right"
											aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //featured-services-->
<!-- end -->
{%endblock main_content%}