{%extends 'base.html'%}
<!-- extended base -->
{%load static%}
<!-- static loaded -->
{%block main_content%}
<!-- main contet starts-->
<style>
    .form-horizontal {
        margin-bottom: 1000px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <!-- Basic Form Elements Block -->
        <div class="block">
            <!-- Basic Form Elements Title -->
            <div class="block-title">
                <div class="block-options pull-right">
                    {%for i in mod%}
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="" data-original-title="Toggles .form-bordered class">Full Name: {{i.full_name | title}}</a>
                    <!--  -->
                    {%endfor%}
                </div>
                <h2><strong>Moderator's Profile</strong> Update</h2>
            </div>
            <!-- END Form Elements Title -->

            <!-- Basic Form Elements Content -->
            <form method="POST" class="form-horizontal form-bordered">
                {%csrf_token%}
                <!--  -->
                {%for i in mod%}
                <div class="form-group ">
                    <label class="col-md-3 control-label " for="example-email-input ">Employee Id</label>
                    <div class="col-md-9 ">
                        <input type="text " id="age " name="moderatorId" class="form-control " placeholder="Enter Employee Id" value="{{i.moderator_id}}">
                        <span class="help-block "><span style="color:red ">*</span>please enter id</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-textarea-input">Address</label>
                    <div class="col-md-9">
                        <textarea id="address" name="moderatorAddress" rows="9" class="form-control" placeholder="Enter Address">{{i.address}}</textarea>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-md-3 control-label " for="example-email-input ">Age</label>
                    <div class="col-md-9 ">
                        <input type="text " id="age " name="moderatorAge" class="form-control " placeholder="Enter Age " value="{{i.age}}">
                        <span class="help-block "><span style="color:red ">*</span>please enter age</span>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-md-3 control-label " for="example-email-input ">Phone No</label>
                    <div class="col-md-9 ">
                        <input type="text " id="email " name="moderatorPhoneno" class="form-control " placeholder="Enter Phone Number " value="{{i.phone_no}}">
                        <span class="help-block "><span style="color:red ">*</span>please enter phone no</span>
                    </div>
                </div>
                <div class="form-group form-actions ">
                    <div class="col-md-9 col-md-offset-3 ">
                        <button type="submit " class="btn btn-sm btn-primary "><i class="fa fa-angle-right "></i> Submit</button>
                    </div>
                </div>
                {%endfor%}
            </form>
            <!-- END Basic Form Elements Content -->
        </div>
        <!-- END Basic Form Elements Block -->
    </div>
</div>
<!-- main content ends here -->
{%endblock main_content%}