{%extends 'base.html'%}
<!-- extended base -->
{%load static%}
<!-- static loaded -->
{%block main_content%}
<!-- main contet starts-->
<style>
    .another {
        margin-bottom: 500px;
    }
    
    a.take {
        text-decoration: none;
    }
</style>
<div id="page-content">
    <div class="row">
        <div class="col-md-12">
            <!-- Basic Form Elements Block -->
            <div class="block">
                <!-- Basic Form Elements Title -->
                <div class="another">
                    <div class="block-title">
                        <div class="block-options pull-right">
                            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="" data-original-title="Toggles .form-bordered class">Report</a>
                            <!--  -->
                        </div>
                        <h2><strong>Feedback</strong> Updates</h2>
                    </div>
                    <!-- END Form Elements Title -->

                    <!-- Basic Form Elements Content -->
                    <div class="block full">
                        <div class="block-title">
                            <h2><strong>Feedback's</strong> Here</h2>
                        </div>
                        <div class="table-responsive">
                            <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center"><i class="gi gi-user"></i></th>
                                        <th>User's Full Name</th>
                                        <th>Feedback</th>
                                        <th class="text-center">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for i in feed%}
                                    <tr>
                                        <td class="text-center">{{i.student.user.id}}</td>
                                        <td class="text-center"><img src="{%static 'front/'%}img/placeholders/avatars/avatar15.jpg" alt="avatar" class="img-circle"></td>
                                        <td><a href="javascript:void(0)">{{i.student.full_name | title}}</a></td>
                                        <td><span class="text-center">{{i.feedback}}</span></td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a href="{% url 'delete_feedbacks' id=i.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {%if not user.is_doctor %}
                    <div class="block full">
                        <div class="block-title">
                            <h2><strong>Report's</strong> Here</h2>
                        </div>
                        <div class="table-responsive">
                            <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center"><i class="gi gi-user"></i></th>
                                        <th>User's Full Name</th>
                                        <th>Report</th>
                                        <th>Status</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for i in report%}
                                    <tr>
                                        <td class="text-center">{{i.patient.user.id}}</td>
                                        <td class="text-center"><img src="{%static 'front/'%}img/placeholders/avatars/avatar15.jpg" alt="avatar" class="img-circle"></td>
                                        <td><a href="javascript:void(0)">{{i.patient.full_name | title}}</a></td>
                                        <td><span class="text-center">{{i.problem}}</span></td>
                                        <!--  -->
                                        {%if i.solve == True%}
                                        <td><a href="{% url 'update_report_status' id=i.pk %}" class="take"><span class="text-center label label-success">Solved</span></a></td>
                                        {%else%}
                                        <td><a href="{% url 'update_report_status' id=i.pk %}" class="take"><span class="text-center label label-danger">Not Solved</span></a></td>
                                        {%endif%}
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <a href="{% url 'delete_report' id=i.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {%endif%}
                </div>
                <!-- END Basic Form Elements Content -->
            </div>
            <!-- END Basic Form Elements Block -->
        </div>
    </div>
</div>
<!-- main content ends here -->
{%endblock main_content%}