{%load static%}
<!--  -->
<!DOCTYPE html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">

    <title>{{title}}</title>

    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="{%static 'front/'%}img/favicon.png">
    <link rel="apple-touch-icon" href="{%static 'front/'%}img/icon57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="{%static 'front/'%}img/icon72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="{%static 'front/'%}img/icon76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="{%static 'front/'%}img/icon114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="{%static 'front/'%}img/icon120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="{%static 'front/'%}img/icon144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="{%static 'front/'%}img/icon152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="{%static 'front/'%}img/icon180.png" sizes="180x180">
    <link rel="stylesheet" href="{%static 'front/'%}css/bootstrap.min.css">
    <link rel="stylesheet" href="{%static 'front/'%}css/plugins.css">
    <link rel="stylesheet" href="{%static 'front/'%}css/main.css">
    <link rel="stylesheet" href="{%static 'front/'%}css/themes.css">
    <script src="{%static 'front/'%}js/vendor/modernizr.min.js"></script>
</head>

<body>
    <!-- Login Background -->
    <div id="login-background">
        <!-- For best results use an image with a resolution of 2560x400 pixels (prefer a blurred image for smaller file size) -->
        <img src="{%static 'front/'%}img/placeholders/headers/login_header.jpg" alt="Login Background" class="animation-pulseSlow">
    </div>
    <!-- END Login Background -->

    <!-- Login Container -->
    <div id="login-container" class="animation-fadeIn">
        <!-- Login Title -->
        <div class="login-title text-center">
            <h1><i class="gi gi-send"></i> <strong>Login</strong><br></h1>
        </div>
        <!-- END Login Title -->

        <!-- Login Block -->
        <div class="block push-bit">
            <!-- Login Form -->
            <form method="POST" class="form-horizontal form-bordered form-control-borderless">
                {%csrf_token%}
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-user"></i></span>
                            <input type="text" id="login-email" name="username" class="form-control input-lg" placeholder="Username">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-keys"></i></span>
                            <input type="password" id="login-password" name="password" class="form-control input-lg" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-xs-4">
                        <label class="switch switch-primary" data-toggle="tooltip" title="Remember Me?">
                                <input type="checkbox" id="login-remember-me" name="login-remember-me" checked>
                                <span></span>
                        </label>
                    </div>
                    <div class="col-xs-8 text-right">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Login</button>
                    </div>
                </div>
            </form>
            {%comment%}
            <span class="help-block text-center"><span style="color:red">Want to register as Patient? Goto:  <a href="{% url 'registration'%}">Register</a> </span> {%endcomment%}
            <!-- END Login Form -->
        </div>
        <!-- END Login Block -->

        <!-- Footer -->
        <footer class="text-muted text-center">
            <small><span><script>document.write(new Date().getFullYear())</script></span> &copy; <a href="/login">Login Panel</a></small>
        </footer>
        <!-- END Footer -->
    </div>
    <!-- END Login Container -->

    <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
    <script src="{%static 'front/'%}js/vendor/jquery.min.js"></script>
    <script src="{%static 'front/'%}js/vendor/bootstrap.min.js"></script>
    <script src="{%static 'front/'%}js/plugins.js"></script>
    <script src="{%static 'front/'%}js/app.js"></script>

    <!-- Load and execute javascript code used only in this page -->
    <script src="{%static 'front/'%}js/pages/login.js"></script>
    <script>
        $(function() {
            Login.init();
        });
    </script>
</body>

</html>