{%extends 'base.html'%}
<!--  -->
{%load static%}
<!-- static file loaded -->
{%block main_content%}
<!-- main content block starts -->
<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Billing Info<br><small>In nothing do men more nearly approach the gods than in giving health to men.</small><br/><small>– Marcus Tullius Cicero</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Tables</li>
        <li><a href="">Bill</a></li>
    </ul>
    <!-- END Datatables Header -->

    <!-- Datatables Content -->
    <div class="row">
        <div class="col-md-12">
            <!-- Basic Form Elements Block -->
            <div class="block">
                <!-- Basic Form Elements Title -->
                <div class="block-title">
                    <div class="block-options pull-right">
                        <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="" data-original-title="Toggles .form-bordered class">Add / Update</a>
                    </div>
                    <h2><strong>Set</strong> Bill For Driver</h2>
                </div>
                <!-- END Form Elements Title -->

                <!-- Basic Form Elements Content -->
                <form method="POST" class="form-horizontal form-bordered">
                    {%csrf_token%}
                    <div class="form-group">
                        <label class="col-md-3 control-label">Patient</label>
                        <div class="col-md-9">
                            <select name="patient" id="driver" class="form-control">
                                <option value="">Choose...</option>
                                {%for i in patient%}
                                <option value="{{i.user.id}}">{{i.full_name}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-text-input">Driver</label>
                        <div class="col-md-9">
                            <select name="driver" id="hospital" class="form-control">
                                <option value="">Choose...</option>
                                {%for i in driver%}
                                <option value="{{i.user.id}}">{{i.full_name}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-text-input">Amount</label>
                        <div class="col-md-9">
                            <input class="form-control" name="amount" id="amount" placeholder="Enter Billing Amount" />
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                        </div>
                    </div>
                </form>
                <!-- END Basic Form Elements Content -->
            </div>
            <!-- END Basic Form Elements Block -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="block full">
                <div class="block-title">
                    <h2><strong>Assigned</strong> Doctor</h2>
                </div>
                <div class="table-responsive">
                    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center"><i class="gi gi-user"></i></th>
                                <th>Patient</th>
                                <th>Driver</th>
                                <th>Amount</th>
                                <th>Patient Paid</th>
                                <th>Pay To Driver</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for i in bill%}
                            <tr>
                                <td class="text-center">{{i.pk}}</td>
                                <td class="text-center"><img src="{%static 'front/'%}img/placeholders/avatars/avatar15.jpg" alt="avatar" class="img-circle"></td>
                                <td><a href="javascript:void(0)">{{i.patient.full_name | title}}</a></td>
                                <td><a href="javascript:void(0)">{{i.driver.full_name | title}}</a></td>
                                <td><a href="javascript:void(0)">{{i.bill}}</a></td>
                                {%if i.patient_paid == True%}
                                <td><a href="{% url 'update_patient_bill' id=i.pk %}" class="take"><span class="text-center label label-success">Paid</span></a></td>
                                {%elif i.patient_paid == False%}
                                <td><a href="{% url 'update_patient_bill' id=i.pk %}" class="take"><span class="text-center label label-danger">Not Paid</span></a></td>
                                {%endif%}
                                <!-- for driver -->
                                {%if i.paid_driver == True%}
                                <td><a href="{% url 'update_driver_bill' id=i.pk %}" class="take"><span class="text-center label label-success">Paid</span></a></td>
                                {%elif i.paid_driver == False%}
                                <td><a href="{% url 'update_driver_bill' id=i.pk %}" class="take"><span class="text-center label label-danger">Not Paid</span></a></td>
                                {%endif%}
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a href="{% url 'delete_billing_info' id=i.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END Datatables Content -->
</div>
{%endblock main_content%}