{%extends 'base.html'%}
<!-- extended -->
{%load static%}
<!-- static file loaded -->
{%block main_content%}
<!-- start -->
<div id="page-content" style="min-height: 1189px;">
    <!-- Customer Content -->
    <div class="row">
        <div class="col-lg-12">
            <!-- Customer Info Block -->
            <div class="block">
                <!-- Customer Info Title -->
                <div class="block-title">
                    <h2><i class="fa fa-file-o"></i> <strong>User</strong> Profile</h2>
                </div>
                <!-- END Customer Info Title -->

                <!-- Customer Info -->
                <div class="block-section text-center">
                    <a href="javascript:void(0)">
                        <img src="{%static 'front/'%}img/placeholders/avatars/avatar4@2x.jpg" alt="avatar" class="img-circle">
                    </a>
                    <h3>
                        <strong>{{user.first_name | title}} {{user.last_name | title}}</strong><br><small></small>
                    </h3>
                </div>
                <table class="table table-borderless table-striped table-vcenter">
                    <tbody>
                        <tr>
                            <td class="text-right" style="width: 50%;"><strong>Social Title</strong></td>
                            <td>Mr. {{user.first_name}}</td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>Email</strong></td>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>Registration</strong></td>
                            <td>{{user.date_joined}}</td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>Last Visit</strong></td>
                            <td>{{user.last_login}}</td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>Language</strong></td>
                            <td>English (UK)</td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>Registrations</strong></td>
                            {%if user.is_superuser%}
                            <td><span class="label label-primary">Admin</span></td>
                            {%elif user.is_doctor%}
                            <td><span class="label label-primary">Doctor</span></td>
                            {%elif user.is_nurse%}
                            <td><span class="label label-primary">Nurse</span></td>
                            {%else%}
                            <td><span class="label label-primary">Assistant</span></td>
                            {%endif%}

                        </tr>
                        <tr>
                            <td class="text-right"><strong>Status</strong></td>
                            {%if user.is_active%}
                            <td><span class="label label-success"><i class="fa fa-check"></i> Active</span></td>
                            {%else%}
                            <td><span class="label label-danger"><i class="fa fa-check"></i>Not Active</span></td>
                            {%endif%}
                        </tr>
                    </tbody>
                </table>
                <!-- END Customer Info -->
            </div>
            <!-- END Customer Info Block -->
        </div>
    </div>
    <!-- END Customer Content -->
</div>
<!-- end -->
{%endblock main_content%}
<!--  -->
{%block main_script%}
<!-- start -->
<!-- end -->
{%endblock main_script%}